@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --color-white: #fff;
  --color-gray: #c4c4c4;
  --color-dark-gray: #3d3d3d;
  --color-gray-blue: #96a9b1;
  --color-primary: #00b0da;
  --color-primary-light: #12d4c8;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-gray-blue);
  margin: 0;
  padding: 0;
}

body header {
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
}

#title {
  font-style: italic;
  margin: 10px auto;
  font-size: 36px;
}

#description {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.container {
  padding: 50px;
  background-color: var(--color-white);
  margin: auto;
  max-width: 800px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-top: -30px;
  font-size: 17px;
}

.form-field {
  margin: 15px 0;
}

.form-field,
.form-field label {
  width: 100%;
}

.form-field label {
  color: var(--color-dark-gray);
  display: inline-block;
  padding: 5px 0;
}

.form-field textarea,
.form-field select,
.form-field input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  color: var(--color-dark-gray);
}

.form-field input[type="radio"],
.form-field input[type="checkbox"] {
  width: auto;
}

.form-field .group {
  display: block;
  margin: 10px 0;
}

.form-field select {
  width: 100%;
  background-color: #fff;
}

.form-field input::placeholder {
  color: var(--color-gray-blue);
  font-weight: bold;
}

textarea {
  resize: none;
}

.actions button {
  margin-top: 10px;
}

.button {
  cursor: pointer;
  width: 100%;
  display: block;
  height: 46px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  border: 1px solid var(--color-primary);
}

.button-filled {
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-light)
  );
  color: var(--color-white);
  text-transform: uppercase;
}

.button-link {
  color: var(--color-primary);
  background-color: inherit;
}

@media (min-width: 800px) {
  body {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  body header {
    color: var(--color-dark-gray);
  }

  .form-field .group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container h2 {
    margin-top: -15px;
    font-size: 20px;
  }
}
