@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --color-white: #fff;
  --color-gray-blue: #96a9b1;
  --color-dark-gray: #3d3d3d;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-gray-blue);
  margin: 0;
  padding: 0;
}

body header {
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
}

#title {
  font-style: italic;
  margin: 10px auto;
  font-size: 36px;
}

#description {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.container {
  background-color: var(--color-white);
  margin: auto;
  max-width: 800px;
}

@media (min-width: 800px) {
  body {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  body header {
    color: var(--color-dark-gray);
  }
}
